body {
	background-color: rgb(46, 45, 46);
	color: white;
}
h1 {
	color: rgb(181, 137, 217);
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

h3 {
	color: rgb(181, 137, 217);
	font-family: "Times New Roman", Times, serif;
	top: 2px;
}

h2 {
	font-family: "Times New Roman", Times, serif;
	top: 2px;
}

p {
	font-family: "Times New Roman", Times, serif;
	margin: 5px 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.off-screen-menu {
	background-color: rgb(181, 137, 217);
	height: 100vh;
	width: 100%;
	max-width: 200px;
	position: fixed;
	top: 0;
	left: -450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	text-align: start;
	font-size: 1rem;
	transition: .3s ease;
	z-index: 1;
}

.off-screen-menu.active {
	left: 0;
}

.hamburger {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 2em;
	z-index: 2;

}

ul {
	position: absolute;
	top: 25px;
	left: 5px;
}

.Events {
	border: 2px solid black;
	background-color: rgb(79, 78, 79);
	width: 35%;
	height: 40%;
	right: 0px; top:100px;
	position:absolute;
	box-sizing: border-box;
	padding: 5px;

	
}


.PatchNotes {
	border: 2px solid black;
	background-color: rgb(79, 78, 79);
	width: 99%;
	height: 30%;
	right: 10px; bottom:0px; left: 9px;
	position:absolute;
	box-sizing: border-box;
	overflow-y:auto;
	padding: 5px;
}

.drafting {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;

	gap: 5px;
}


.PlayerBox {
	border: 4px solid black;
	padding: 3px;
	border-radius: 10px;
	margin: 2px;
}

.name {
	color: #debef7;
}

.team {
	border: 2px solid black;
	border-radius: 10px;
	padding: 3px;
	position: absolute;
	left: 25%;
	right: 25%;
	background-color: #8c3a2d;
	display: grid;
	grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
	justify-items: center;
	gap: 5px;
}

.teamPlayers {
	border: 2px solid black;
	border-radius: 10px;
	padding: 3px;
	position: absolute;
	top: 15%;
	right: 85%;
	left: 0px;
}

.league {
	grid-column-start:2;
	grid-column-end:2;
	grid-row-start:1;
	grid-row-end:1;

}

.leaguePos {
	grid-column-start:3;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:1;
}


.teamName {
	grid-column-start:2;
	grid-column-end:2;
	grid-row-start:2;
	grid-row-end:2;
}

.teamKit {
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start:1;
	grid-row-end:3;
}

.record {
	grid-column-start:3;
	grid-column-end:3;
	grid-row-start:2;
	grid-row-end:2;
}

.abbrev {
	grid-column-start:2;
	grid-column-end:2;
	grid-row-start:3;
	grid-row-end:3;
}
.awards {
	grid-column-start:3;
	grid-column-end:3;
	grid-row-start:3;
	grid-row-end:3;
}